
body {
    background: url('background.jpg') no-repeat;
}
.label {
    color: rgb(66,117,172);
    margin-top: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight:850;
}

.input{
    padding-top: 2px;
    padding-bottom:5px;
    background-color: rgb(124,198,225);
    border: 0px;
    border-radius: 3px;

    width:90%;
}

.form{
    padding-left: 15px;
    padding-right:15px
}

.form-wrapper{

    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 3%;

    margin: 0 auto;
    display: block;
    max-width: 250px;

}

.form:after{
    content:"";
    display: block;
    height:1px;
    margin:0 auto;
    margin-top:9px;
    margin-left:23px;
    width:70%;
    background-color:rgb(129,200,194);
}
.form-label{
    text-align: center;
    width:90%;
    
}
.form-label:after {
    content:"";
    display: block;
    height:1px;
    margin:0 auto;
    width:100%;
    background-color:rgb(129,200,194);
}

.reg-button-wrapper {
    display: block;
}


.sub-button-wrapper{
    padding-top: 10px;
    display: block;
    position: relative;
    height:30px;
    width: 90%;
}
.sub-button{
    box-shadow: -2px 2px 4px rgb(129,200,194); 
    position: absolute;
    right: 0;
    height:25px;
    width: 60px;
    color: rgb(28, 79, 134);
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight:1000;
    background-color:rgb(145,240,200);
    border: 0px;
}

.reg-label{
    margin-left:17px;
    text-decoration: none;
}
.reg-label:hover{
    text-decoration: underline;
    color:rgb(129,200,194);
}

.error-label {
    font-size:15px;
    color: rgb(199, 37, 37);
}
