body {
	width:100%;
    height:100%;	
    margin:0;
}
.error_border {
    border: 2px solid red;
}
.error_underline{
    text-decoration: underline red;
}
.err-mes-wrapper{
    color:rgb(218, 40, 40);
    border-bottom: 1px solid black;
    border-radius: 15px;
}

.form_wrapper {
    padding: 6px;
   
    
    text-align: center;
    width: 350px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto auto;
}

.login_wrapper{
    padding: 6px; 

    text-align: center;
    width: 350px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto auto;
}





